/*****************************************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
body{
	overflow-x: hidden;
}
@keyframes slideDown{
	from{
		opacity: 0;
		transform: translateY(-10px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
[data-anime="hero"] h1{
	animation: slideDown 1s forwards;
}
[data-anime="hero"] h3{
	animation: slideDown 1s forwards;
}
[data-anime="hero"] .btn{
	animation: slideDown 1s forwards;
}

@keyframes imgZoom{
	from{
		opacity: 0.9;
		transform: scale(1.5);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
}

[data-anime="hero"]{
	animation: imgZoom 1.5s forwards;
}
@media (max-width: 700px){
	[data-anime="hero"]{
		animation: none;
	}
}

/*****************************************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
[data-anime="down"]{
	opacity: 0;
	transition: .5s;
	transform: translateY(-30px);
}
[data-anime="down"].ativo{
	opacity: 1;
	transform: translateY(0);
}
[data-anime="up"]{
	opacity: 0;
	transition: .5s;
	transform: translateY(30px);
}
[data-anime="up"].ativo{
	opacity: 1;
	transform: translateY(0);
}

/*btn*/
.btn{
	color: #000;
}

/*ceta*/
.ceta{	
	opacity: 0;
	right: 15px;
	width: 40px;
	height: 35px;	
	bottom: 20px;	
	transition: .5s;
	position: fixed;
	color: #191c03;
	padding: 5px 13px;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	border-radius: 7px;
	border: 1px solid #000;
	background-color: #c3c63b;
	transform: translateY(100px);
}
.ceta:hover{
	opacity: 1;
	color: #c3c63b;
	background-color: #191c03;
	border: 1px solid #c3c63b;
}
.ceta.ativo{
	opacity: 0.8;
	transform: translateY(0);
}