/*****************************************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
body{
	overflow-x: hidden;
}
@keyframes slideDown{
	from{
		opacity: 0;
		transform: translateY(-10px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
[data-anime="hero"] h1{
	animation: slideDown 1s forwards;
}
[data-anime="hero"] h3{
	animation: slideDown 1s forwards;
}
[data-anime="hero"] .btn{
	animation: slideDown 1s forwards;
}

@keyframes imgZoom{
	from{
		opacity: 0.9;
		transform: scale(1.5);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
}

[data-anime="hero"]{
	animation: imgZoom 1.5s forwards;
}
@media (max-width: 700px){
	[data-anime="hero"]{
		animation: none;
	}
}

/*****************************************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
[data-anime="down"]{
	opacity: 0;
	transition: .5s;
	transform: translateY(-30px);
}
[data-anime="down"].ativo{
	opacity: 1;
	transform: translateY(0);
}
[data-anime="up"]{
	opacity: 0;
	transition: .5s;
	transform: translateY(30px);
}
[data-anime="up"].ativo{
	opacity: 1;
	transform: translateY(0);
}