body{
	overflow-x: hidden;
}
@keyframes slideDown{
	from{
		opacity: 0;
		transform: translateY(-10px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
.hero h1{
	animation: slideDown 1s forwards;
}
.hero h3{
	animation: slideDown 1s forwards;
}
.hero .btn{
	animation: slideDown 1s forwards;
}

@keyframes imgZoom{
	from{
		opacity: 0.9;
		transform: scale(1.5);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
}

.hero{
	animation: imgZoom 1.5s forwards;
}
@media (max-width: 700px){
	.hero{
		animation: none;
	}
}


.js{
  transition: 1s;
  //transform: translate3d(-30px, 0, 0);
}
.js.ativo{
  opacity: 1;
  transform: translate3d(0, 0, 0);
 }