*{
	margin: 0;
	padding: 0;	
	border: none;
	font-size: 100%;
	box-sizing: border-box;
	font-family: sans-serif;
}
ul,li{
	list-style: none;
}
a{
	opacity: 0.8;
	text-decoration: none;
}
a:hover{
	opacity: 1;
}

	/***********************************************************************************/
/***********************************|      -     |*******************************************/
	/************************************************************************************/



	/***********************************************************************************/
/***********************************|      -     |*******************************************/
	/************************************************************************************/


	/***********************************************************************************/
/***********************************|      -     |*******************************************/
	/************************************************************************************/


	/***********************************************************************************/
/***********************************|      -     |*******************************************/
	/************************************************************************************/


	/***********************************************************************************/
/***********************************|      -     |*******************************************/
	/************************************************************************************/
	